# Setting Data

In [18]:
import pandas as pd

In [19]:
df = pd.read_json('{"%3 PTS":{"0.0":0.478125,"1.0":0.4537815126,"2.0":0.4125,"3.0":0.4585152838,"4.0":0.4285714286,"5.0":null},"3PA":{"0.0":11.1,"1.0":8.1,"2.0":7.9,"3.0":7.7,"4.0":4.7,"5.0":null},"3PM":{"0.0":5.1,"1.0":3.6,"2.0":3.3,"3.0":3.5,"4.0":2.1,"5.0":null},"GP":{"0.0":25.0,"1.0":80.0,"2.0":78.0,"3.0":78.0,"4.0":26.0,"5.0":null},"League":{"0.0":"NBA","1.0":"NBA","2.0":"NBA","3.0":"NBA","4.0":"NBA","5.0":null},"PTS":{"0.0":32.0,"1.0":23.8,"2.0":24.0,"3.0":22.9,"4.0":14.7,"5.0":null},"Team":{"0.0":"Golden State","1.0":"Golden State","2.0":"Golden State","3.0":"Golden State","4.0":"Golden State","5.0":null},"index":{"0.0":0,"1.0":1,"2.0":2,"3.0":3,"4.0":4,"5.0":0},"per3":{"0.0":47.8125,"1.0":45.3781512605,"2.0":41.25,"3.0":45.8515283843,"4.0":42.8571428571,"5.0":null},"year":{"0.0":"2015-2016","1.0":"2014-2015","2.0":"2013-2014","3.0":"2012-2013","4.0":"2011-2012","5.0":"2016-2017"}}')

In [20]:
df

,%3 PTS,3PA,3PM,GP,League,PTS,Team,index,per3,year
1970-01-01 00:00:00,0.478125,11.1,5.1,25.0,NBA,32.0,Golden State,0,47.812500,2015-2016
1970-01-01 00:00:01,0.453782,8.1,3.6,80.0,NBA,23.8,Golden State,1,45.378151,2014-2015
1970-01-01 00:00:02,0.412500,7.9,3.3,78.0,NBA,24.0,Golden State,2,41.250000,2013-2014
1970-01-01 00:00:03,0.458515,7.7,3.5,78.0,NBA,22.9,Golden State,3,45.851528,2012-2013
1970-01-01 00:00:04,0.428571,4.7,2.1,26.0,NBA,14.7,Golden State,4,42.857143,2011-2012
1970-01-01 00:00:05,NaN,NaN,NaN,NaN,None,NaN,None,0,NaN,2016-2017

In [21]:
df = df.set_index('year')

In [22]:
df

,%3 PTS,3PA,3PM,GP,League,PTS,Team,index,per3
year,,,,,,,,,
2015-2016,0.478125,11.1,5.1,25.0,NBA,32.0,Golden State,0,47.812500
2014-2015,0.453782,8.1,3.6,80.0,NBA,23.8,Golden State,1,45.378151
2013-2014,0.412500,7.9,3.3,78.0,NBA,24.0,Golden State,2,41.250000
2012-2013,0.458515,7.7,3.5,78.0,NBA,22.9,Golden State,3,45.851528
2011-2012,0.428571,4.7,2.1,26.0,NBA,14.7,Golden State,4,42.857143
2016-2017,NaN,NaN,NaN,NaN,None,NaN,None,0,NaN

In [23]:
df.set_value('2016-2017', 'Team', 'Jazz')

,%3 PTS,3PA,3PM,GP,League,PTS,Team,index,per3
year,,,,,,,,,
2015-2016,0.478125,11.1,5.1,25.0,NBA,32.0,Golden State,0,47.812500
2014-2015,0.453782,8.1,3.6,80.0,NBA,23.8,Golden State,1,45.378151
2013-2014,0.412500,7.9,3.3,78.0,NBA,24.0,Golden State,2,41.250000
2012-2013,0.458515,7.7,3.5,78.0,NBA,22.9,Golden State,3,45.851528
2011-2012,0.428571,4.7,2.1,26.0,NBA,14.7,Golden State,4,42.857143
2016-2017,NaN,NaN,NaN,NaN,None,NaN,Jazz,0,NaN

In [24]:
df.set_value('2019-2020', 'Team', 'Bookers')

,%3 PTS,3PA,3PM,GP,League,PTS,Team,index,per3
year,,,,,,,,,
2015-2016,0.478125,11.1,5.1,25.0,NBA,32.0,Golden State,0.0,47.812500
2014-2015,0.453782,8.1,3.6,80.0,NBA,23.8,Golden State,1.0,45.378151
2013-2014,0.412500,7.9,3.3,78.0,NBA,24.0,Golden State,2.0,41.250000
2012-2013,0.458515,7.7,3.5,78.0,NBA,22.9,Golden State,3.0,45.851528
2011-2012,0.428571,4.7,2.1,26.0,NBA,14.7,Golden State,4.0,42.857143
2016-2017,NaN,NaN,NaN,NaN,None,NaN,Jazz,0.0,NaN
2019-2020,NaN,NaN,NaN,NaN,NaN,NaN,Bookers,NaN,NaN

In [25]:
df

,%3 PTS,3PA,3PM,GP,League,PTS,Team,index,per3
year,,,,,,,,,
2015-2016,0.478125,11.1,5.1,25.0,NBA,32.0,Golden State,0.0,47.812500
2014-2015,0.453782,8.1,3.6,80.0,NBA,23.8,Golden State,1.0,45.378151
2013-2014,0.412500,7.9,3.3,78.0,NBA,24.0,Golden State,2.0,41.250000
2012-2013,0.458515,7.7,3.5,78.0,NBA,22.9,Golden State,3.0,45.851528
2011-2012,0.428571,4.7,2.1,26.0,NBA,14.7,Golden State,4.0,42.857143
2016-2017,NaN,NaN,NaN,NaN,None,NaN,Jazz,0.0,NaN
2019-2020,NaN,NaN,NaN,NaN,NaN,NaN,Bookers,NaN,NaN

In [26]:
df.loc['2016-2017', 'PTS'] = 0

In [27]:
df

,%3 PTS,3PA,3PM,GP,League,PTS,Team,index,per3
year,,,,,,,,,
2015-2016,0.478125,11.1,5.1,25.0,NBA,32.0,Golden State,0.0,47.812500
2014-2015,0.453782,8.1,3.6,80.0,NBA,23.8,Golden State,1.0,45.378151
2013-2014,0.412500,7.9,3.3,78.0,NBA,24.0,Golden State,2.0,41.250000
2012-2013,0.458515,7.7,3.5,78.0,NBA,22.9,Golden State,3.0,45.851528
2011-2012,0.428571,4.7,2.1,26.0,NBA,14.7,Golden State,4.0,42.857143
2016-2017,NaN,NaN,NaN,NaN,None,0.0,Jazz,0.0,NaN
2019-2020,NaN,NaN,NaN,NaN,NaN,NaN,Bookers,NaN,NaN

In [28]:
df.iloc[6, 5] = 0

In [29]:
df

,%3 PTS,3PA,3PM,GP,League,PTS,Team,index,per3
year,,,,,,,,,
2015-2016,0.478125,11.1,5.1,25.0,NBA,32.0,Golden State,0.0,47.812500
2014-2015,0.453782,8.1,3.6,80.0,NBA,23.8,Golden State,1.0,45.378151
2013-2014,0.412500,7.9,3.3,78.0,NBA,24.0,Golden State,2.0,41.250000
2012-2013,0.458515,7.7,3.5,78.0,NBA,22.9,Golden State,3.0,45.851528
2011-2012,0.428571,4.7,2.1,26.0,NBA,14.7,Golden State,4.0,42.857143
2016-2017,NaN,NaN,NaN,NaN,None,0.0,Jazz,0.0,NaN
2019-2020,NaN,NaN,NaN,NaN,NaN,0.0,Bookers,NaN,NaN

In [30]:
df.iloc[7, 5] = 0

IndexError: single positional indexer is out-of-bounds

In [31]:
df.loc['2021-2020', 'Coach'] = 'Kerr'

In [32]:
df

,%3 PTS,3PA,3PM,GP,League,PTS,Team,index,per3,Coach
year,,,,,,,,,,
2015-2016,0.478125,11.1,5.1,25.0,NBA,32.0,Golden State,0.0,47.812500,NaN
2014-2015,0.453782,8.1,3.6,80.0,NBA,23.8,Golden State,1.0,45.378151,NaN
2013-2014,0.412500,7.9,3.3,78.0,NBA,24.0,Golden State,2.0,41.250000,NaN
2012-2013,0.458515,7.7,3.5,78.0,NBA,22.9,Golden State,3.0,45.851528,NaN
2011-2012,0.428571,4.7,2.1,26.0,NBA,14.7,Golden State,4.0,42.857143,NaN
2016-2017,NaN,NaN,NaN,NaN,None,0.0,Jazz,0.0,NaN,NaN
2019-2020,NaN,NaN,NaN,NaN,NaN,0.0,Bookers,NaN,NaN,NaN
2021-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kerr